body {
    font-family: Arial, Helvetica, sans-serif;
    /* link to background image is not working??*/
    background-image: url("assets/images/about me profile.jpg")
    background-color: red; 
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 45px;
    margin: -10px -10px 50px -10px;
    color: darkslategray;
    background: #fff;
    border-style: solid;
    border: 0px 0px 10px 0px;
    border-color: #ccc;
    border-bottom-width: 2px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 55px -10px -10px -10px;
    color: #ccc;
    background: #666666;
    border-style: solid;
    border-bottom: 10px;
    border-color: #4aaaa5;
    border-top-width: 2px;
    text-align: center;
}

h1 {
    background:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    width: 15%;
    color: #fff;
    text-align: center;
    padding: 27px;
    margin-top: -45px;
  }

section {
    width: 960px;
    margin: 0px 0px 0px 150px;
    /* change color*/
    background: rgb(126, 230, 41);

  }

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-links{
    float: right;
}